* {
  box-sizing: border-box;
}

body {
  background-color: #DDDDDD;

}

.corps {
  width: 100%;
  height: 100%;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  /* border-right: solid 1px grey; */
  }

/* Left and right column */
#gauche {
  width: 30%;
  height: 100%;
  padding: 50px;
  font-size: 18px;
}

/* Middle column */
#droite {
  width: 70%;
  border-left: solid 5px grey;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .column #gauche, .column #droite {
    width: 100%;
  }
}

/* LIEN SELECTION AFFICHAGE DES ANNONCES */

.choixAffichage {
  padding-bottom: 15px;
}

.lienAffichage {
  margin: 5px;
  padding: 3px;
  border: solid 1px grey;
  border-radius: 2px;
  background-color: #ccc;
  font-size: 18px;
}

#actif {
  color: #444;
}

#non-actif {
  background-color: #e6e6e6;
  color: #666;
}

/* AFFICHAGE DES ANNONCES */

#annoncesPub {
  /* rendre la div scrollable */
  padding: 20px;
  overflow-y: auto;
  height: 350px;
  border-bottom: solid 3px grey;
}

#annoncesFav {
  padding: 20px;
  overflow-y: auto;
  height: 800px;
}
.annonce {
  margin: 5px 15px 15px 5px;;
  float: left;
  width: 300px;
  height: 150px;
  border: solid 3px grey;
  border-radius: 5px 20px / 5px 24px;
  padding: 5px;
}

.image {
  float: left;
  margin: 25px 10px 25px 2px;;
  height: 80px;
  width: 80px;
}

.titreDiv {
  font-size: 25px;
  font-weight: bold;
}

#nomPrenom {
  font-size: 35px;
}

label {
  font-weight: bold;
}

#etat, #mail {
  margin-bottom: 30px;
}

.annonceZoom {
    transition: transform .2s; /* Animation */
}

.annonceZoom:hover {
    transform: scale(1.1); /* (110% zoom -N.B: Si le zoom est trop grand ça va sortir de la vue d'annonce) */
    border: solid 3px green;
}
