* {
  box-sizing: border-box;
}

body {
  background-color: #DDDDDD;

}

.corps {
  width: 100%;
  height: 100%;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  border-right: solid 1px grey;
  }

/* Left and right column */
#gauche {
  width: 30%;
}

/* Middle column */
#droite {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .column #gauche, .column #droite {
    width: 100%;
  }
}
